.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.active {
  text-decoration: underline !important;
  color: black !important;
}

.host-vans-container {
  display: flex;
  flex-direction: column;
  padding: 55px 26px 66px;
  gap: 32px;
}

.host-vans-container h1 {
  color: #161616;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.10325rem; /* 105.164% */
}

.all-listed-vans {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vans-listing {
  display: flex;
  text-decoration: none;
  gap: 17px;
  padding: 18px 24px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.vans-listing:hover {
  transform: scale(1.02);
}

.vans-listing img {
  max-width: 65px;
  max-height: 65px;
  border-radius: 5px;
}

.vans-listing h2 {
  color: #161616;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.97888rem; /* 158.308% */
}

.vans-listing p {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.97888rem; /* 197.885% */
}

.listing-layout-container {
  display: flex;
  flex-direction: column;
  padding: 61px 26px 45px;
  gap: 37px;
}

.back-to-all {
  color: #201f1d;
  font-family: Inter;
  font-size: 0.99663rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43269rem; /* 143.75% */
  text-decoration-line: underline;
  cursor: pointer;
  display: flex;
  gap: 11px;
  align-items: center;
}

.back-to-all img {
  text-decoration: none;
  width: auto;
  height: auto;
}

.shared-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
  background: #fff;
  padding: 23px 25px;
  gap: 27px;
}

.shared-header img {
  max-width: 160.15px;
  max-height: 157.903px;
  border-radius: 5px;
}

.shared-header-content {
  display: flex;
  gap: 19px;
  align-items: center;
}

.shc-information button {
  border-radius: 4.072px;
  color: #ffead0;
  text-align: center;
  font-family: Inter;
  font-size: 0.81431rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.61144rem; /* 197.885% */
  padding: 3px 11px;
  border: none;
  margin-bottom: 16px;
}

.shc-information h1 {
  color: #161616;
  font-family: Inter;
  font-size: 1.62863rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.71275rem; /* 105.164% */
}

.shc-information h2 {
  color: #161616;
  font-family: Inter;
  font-size: 1.2215rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.24713rem; /* 183.967% */
}

.shc-information span {
  color: #161616;
  font-family: Inter;
  font-size: 1.01788rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.24713rem;
}

.shared-header-navs {
  display: flex;
  gap: 27px;
}

.shared-header-navs a {
  text-decoration: none;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 1.00931rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28538rem; /* 127.348% */
}

.shared-header-navs a:hover {
  color: #161616;
  text-decoration: underline;
}
.active {
  text-decoration: underline !important;
  color: black !important;
}


/* ========================================================================================================== */


.host-dashboard-earnings {
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings > .info > h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings > .info > p {
    color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews > h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income > p {
    color: #4d4d4d;
}

.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header > p {
    color: #4d4d4d;
}

.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}


.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}


.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}