.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 36px 26px;
  background: #fff7ed;
  align-items: center;
}

.nav-container > a,
.nav-links > a {
  text-decoration: none;
}

.nav-container > a:hover,
.nav-links > a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 13px;
  align-items: center;
}

.active {
  text-decoration: underline !important;
  color: black !important;
}

.avtar-icon {
  width: 17px;
  height: 17px;
}

.nav-text {
  display: flex;
  align-items: center;
}
